header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: var(--primary);
    color: white;
    padding: 0 20px;
}

header > .app-name {
    font-size: 28px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    text-decoration: none;
}

header .menu {
    list-style: none;
    display: inline-block;
}

header .menu > li {
    display: inline-block;
    margin-left: 10px;
}

header .menu > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header .notifications-icon {
    float: right;
    position: relative;
    top: 30px;
}

header .notifications-icon.has-notifications::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 37, 37);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}